* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.goal {
  display: flex;
  align-items: flex-start;
}

.goal a {
  font-family: Arimo;
  font-size: 25px;
  line-height: 49px;
  padding: 10px;
  margin: 10px;
  margin-left: 30%;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #11851c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  background-color: #6bc46a;
  font-size: 30px;
  font-family: Arimo;
}

.Background {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.Background img {
  height: 210px;
  margin: 20px;
  margin-left: 4%;
  border-style: solid;
  border-color: black;
}

.boxBack {
  height: 23%;
  width: 50%;
  background-color: #059603;
  color: white;
  margin: 10px;
  border-style: solid;
  border-color: black;
  font-family: Roboto;
}

.PicText {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.PicText h2 {
  margin: 34px;
  text-align: center;
}
