*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

h1 {
    text-align: center;
    background-color: #6bc46a;
    font-size: 30px;
    font-family: Arimo;
  }

  h5 {
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
  }
  a {
    font-family: Arimo;
    font-size: 25px;
    line-height: 49px;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #11851C;
  }