h1 {
    text-align: center;
    background-color: #6BC46A;
    font-size: 30px;
    font-family: Arimo;
}


h3 {
    text-align: center;
    margin: 50px;
    font-size: 25px;
    font-family: Arimo;
}