*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  height: 100vh;
}

h1 {
  text-align: center;
  background-color: #6bc46a;
  font-size: 30px;
  font-family: Arimo;
}

h3 {
  text-align: center;
  margin: 50px;
  font-size: 25px;
  font-family: Arimo;
}

a {
    font-family: Arimo;
    font-size: 25px;
    line-height: 49px;
    text-decoration: none;
}

h5 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #11851C;
}

.Fawfulges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.Fawfulges img {
  width: 15%;
  height: 100%;
  margin: 10px;
  border-style: solid;
  border-color: black;
}

.FormLinks {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: flex-start;
}

.FormLinks a{
  padding: 10px;
  font-family: Arimo;
  font-size: 25px;
  line-height: 28px;
}