* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

h1 {
  text-align: center;
  background-color: #6bc46a;
  font-size: 30px;
  font-family: Arimo;
}

h3 {
  text-align: center;
  margin: 50px;
  font-size: 25px;
  font-family: Arimo;
}

a {
  font-family: Arimo;
  font-size: 25px;
  line-height: 49px;
  text-decoration: none;
}

h5 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #11851c;
}

.Fawfulges1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.Fawfulges1 img {
  width: 15%;
  height: 100%;
  margin: 10px;
}

.Fawfulges2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.Fawfulges2 img {
  margin-right: 200px;
  width: 15%;
  height: 100%;
  margin: 10px;
}

.FormLinks1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.FormLinks1 a {
  margin-right: 480px;
  padding: 10px;
  font-family: Arimo;
  font-size: 25px;
  line-height: 28px;
}

.FormLinks2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.FormLinks2 a {
  margin-left: 480px;
  margin-bottom: 5;
  padding: 10px;
  font-family: Arimo;
  font-size: 25px;
  line-height: 28px;
}
